div > ul{
	margin: 0;
	display: flex;
}

div > ul li{
	list-style: none;
}

body{
	background-color: lightgrey;
}

.menu{
	margin-bottom: 20px;
	background-color: black;
}

.sectionInfos{
	border: 2px solid black;
}

.expanded{
	font-size: 20px;
	border-radius: 5px;
	background-color: white;
	color: black;
	box-shadow: 0 15px 20px rgba(0, 0 ,0 ,0.3);
}

.button:hover{
	background: black;
	color: white;
}
